<h1 class="text-center font-weight-bold">Тренинги</h1>

<%= render 'trainings/training' %>

  <%= link_to 'Новый Тренинг', new_training_path, class: 'btn btn-success' %>
  <%= link_to "Назад", root_path, class: 'btn btn-secondary' %>
