<p>
  <strong>Title:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @training.text %>
</p>

<td><%= link_to 'Edit', edit_training_path %></td>
<%= link_to 'Back', trainings_path %>