<p>
  <strong>Прокоментировал:</strong><br/>
  <%= comment.commenter %>
</p>

<p>
  <strong>Коментарий:</strong><br/>
  <%= comment.body %>
</p>

<p>
  <%= comment.created_at %>
</p>

<p>
  <%= link_to 'Удалить коментарий', [comment.training, comment],
              class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
</p>