<% @trainings.each_with_index do |training, index| %>
  <% if index == 0 %>
    <div class="carousel-item active">
      <%= link_to(image_tag(training.cover.to_s, class: "d-block w-100 img-fluid"), training_path(training.id)) %>
      <div class="carousel-caption d-none d-md-block">
        <p class="h5"><%= training.title %></p>
      </div>
    </div>
  <% else %>
    <div class="carousel-item">
      <%= link_to(image_tag(training.cover.to_s, class: "d-block w-100 img-fluid"), training_path(training.id)) %>
      <div class="carousel-caption d-none d-md-block">
        <p class="h5"><%= training.title %></p>
      </div>
    </div>
  <% end %>
<% end %>
