<div class="container pl-5">
  <% @user_games.each do |game| %>
    <div class="border rounded shadow p-1 w-100 row">
      <p class="col p-2"><%= link_to game.title, alignment_path(Alignment.find(game.alignment_id)) %></p>
      <p class="col p-2">Колода: <%= game.deck_name %></p>
      <p class="col p-2">Дата и время: <%= game.created_at %></p>
      <p class="col p-2"><%= link_to 'Ваш Результат', playing_cards_path(game_id: game.id) %></p>
    </div>
  <% end %>
</div>
