<div class="container p-3">
  <%= link_to 'В личный кабинет', user_path(@user), class: 'btn btn-secondary' %>
  <% if admin %>
    <%= link_to 'Назад', :back, class: 'btn btn-secondary' %>
  <% end %>
</div>
<h1 class="text-center pb-3">Ваши карточные расклады: </h1>

<div class="row">
  <%= render 'game' %>
</div>
