<div class="container mt-5 mb-5">
  <h1>Editing Alignment</h1>

  <%= render 'form', alignment: @alignment %>

  <%= link_to 'Show', @alignment, class: "btn btn-primary" %> |
  <%= link_to 'Back', alignments_path, class: 'btn btn-secondary' %>
</div>